<p>
<!--  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} - -->
<!--  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> -->
<div style="width:100%;font-size:100%;text-align:center;color:#000000">
Copyright &copy; 2014 &nbsp; &nbsp; Trueangle Project &nbsp;&nbsp; e-mail:&nbsp; ahiliation@yahoo.co.in
</div>
<center style="color:#000000">
Trueangle Project comes with ABSOLUTELY NO WARRANTY, to the extent
permitted by applicable law.
</center>
</p>
